body {
    height: 100%;
    background-color: rgb(231, 218, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white"
}

header {
    background-color: rgb(46, 47, 58);
    color: rgb(252, 249, 252);
    font-size: 20px;
    height: 10ex;
    text-align: right;
}

footer {
    background-color: rgb(46, 47, 58);
    color: rgb(252, 249, 252);
    text-align: center;
    font-size: 20px;
    height: 10ex;
    flex: 0 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    padding: 20px; 
    margin-right: 10px; 
    margin-bottom: 10px; 
    background: #f0f0f0; 
    height:42ex;
}

.container {
    text-align: center;
    width: 100ex;
    font-size: 20px;
}

.item_card {
    display: inline-block;
    margin-right: 10px; 
    margin-bottom: 10px; 
    padding: 5px;
}

.item_card:hover{
    outline: 1px solid rgb(240, 4, 4);
}

.header_block {
    height: 5ex;
    display: inline-block;
}

@media screen and (max-width: 990px) {
    body {
      background-color: rgb(189, 189, 250);
    }
  }