{% extends "base.html" %}

{% block content %}
    <div>
        Наша компания предлагает широкий выбор товаров розовго цвета
        <br><br>
        Наши преимущества:
        <ul>
            <li>Низкие цены</li>
            <li>Широкий ассортимент</li>
            <li>Быстрая доставка</li>
            <li>Бытрая обратная связь</li>
        </ul>
    </div>
    <br><br>
    Форма для обратной связи:<br>
    <form>
        <input type="text" name="name" placeholder="Имя" style="width: 75ex"> <br>
        <input type="email" name="email" placeholder="Почта" style="width: 75ex"><br>
        <textarea name="feedback" id="" cols="68" rows="10"></textarea>
        <br>
        <input type="submit">
    </form>
    <br><br>
    Наше местоположение: <br><br>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af9af9375444ac3a26c33b64c9878a78af0b67f90894e88a8dcaddf0c3dc7ce4f&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    <br><br><br>
{% endblock %}