{% extends "base.html" %}

{% block content %}
    <div>
        <br><h1 style="text-align: center; font-size: 100px">Каталог</h1>
    </div>
        <br><br>
    <div class="item_card">
        <a href="/pen" style="font-size: 45px">Футболка 1</a><br>
        <img src="{{ url_for('static', filename='style/images/Картинка1.png') }}" width="250px">
    </div>

    <div class="item_card">
        <a href="/shirt" style="font-size: 45px">Ручка 1</a><br>
        <img src="{{ url_for('static', filename='style/images/Картинка2.png') }}" width="250px">
    </div>

    <div class="item_card">
        <a href="/mouse" style="font-size: 30px">Игровая мышь 1</a><br>
        <img src="{{ url_for('static', filename='style/images/Картинка3.png') }}" width="250px">
    </div>
    <br><br><br><br>
{% endblock %}