{% extends "base.html" %}

{% block content %}
        <div class="container">
            <br><h1 style="text-align: center;">Розовый магазин</h1>
            <br><br>
            <ul>
                <li>Наш интернет-магазин представляет огромный выбор розовых вещей на любой вкус по доступным ценам</li>
                <li>В отличие от конкурентов, у нас есть почти любые вещи розового цвета</li>
                <li>Вы можете найти у нас как тетради и карандаши, так и футболки и худи розового цвета</li>
                <li>Вы можете ознакомиться с каталогом товаров:</li>
            </ul>
            <button style="font-size: 20px; height: 100px; width: 300px; border-radius: 10px; background-color: white;">Посмотреть каталог товаров</button>
            <br><br><br><br>
        </div>
{% endblock %}